<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1182/1182024.png"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px"
        />
        Homenick-Ledner
      </a>
      <a class="me-5"></a>
      <a class="me-5"></a>
      <a class="me-5"></a>
    </div>
    <!-- Center elements -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="['shop/', shopState]"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="shop/2/products"
          routerLinkActive="active"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="user/50/orders"
          routerLinkActive="active"
          >Orders</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="admin" routerLinkActive="active"
          >Admin</a
        >
      </li>
    </ul>
    <!-- Right elements -->
    <ul class="navbar-nav flex-row justify-content-end">
      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px"
          (change)="search($event)"
        />
        <span class="input-group-text border-0 d-none d-lg-flex"
          ><i class="fas fa-search"></i
        ></span>
      </form>
      <!-- Badge -->
      <li class="nav-item">
        <a class="nav-link" routerLink="user/50/carts">
          <span><i class="fas fa-shopping-cart"></i></span>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>
