<!-- Custom content-->
<!-- Shopping cart table -->
<div class="table-responsive">
  <table class="table table-bordered m-0">
    <thead>
      <tr>
        <!-- Set columns width -->
        <th class="text-center py-3 px-4" style="min-width: 400px">
          Product Name &amp; Details
        </th>
        <th class="text-right py-3 px-4" style="width: 100px">Price</th>
        <th class="text-center py-3 px-4" style="width: 120px">Quantity</th>
        <th class="text-right py-3 px-4" style="width: 100px">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="p-4">
          <div class="media align-items-center">
            <div class="media-body">
              <a class="d-block text-dark" (click)="routeToProductDetail(product.idProduct!)">{{ product.shortDesc }}"</a>
            </div>
          </div>
        </td>
        <td class="text-right font-weight-semibold align-middle p-4">
          {{ product.price }}€
        </td>
        <td class="align-middle p-4 text-center">
            {{ product.qty }}
        </td>
        <td class="text-right font-weight-semibold align-middle p-4">
          {{ getTotalPrice(product.price!, product.qty!) }}€
        </td>
      </tr>
    </tbody>
  </table>
</div>
